body {
  color: #333333;
  font-family: "Poppins", sans-serif !important;
  background: linear-gradient(90deg, #e2e2e2, #c9d6ff);
}
.screen{
  min-height: 100vh;
  padding: 24px;
}
.screen-container{
background-color: white;
margin-top: 16px;
padding: 16px;
border-radius: 4px;
} 
